{% extends "base.html.twig" %}
{% block body %}
<article>
        <h2>{{article.title}}</h2>
        <div class="metadata"> Ecrit le {{ article.createdAt | date('d/m/Y') }} a {{ article.createdAt | date('H:i') }} dans la categorie {{article.category.title}}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{ article.content | raw}}
        </div>
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }}Commentaires : </h1>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}} <small>{{ comment.createdAt | date('d/m/Y a H:i') }}</small>
                </div>
                <div class="col">
                    {{ comment.content | raw}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr' : {  'placeholder':'Autheur'}}) }}
        {{ form_row(commentForm.content, {'attr' : {  'placeholder':'Votre Commentaire'}}) }}
        <button class="btn btn-success" type="submit">Commenter !</button>
        {{ form_end(commentForm) }}
        {% else %}

            <h2>Vous ne pouvez pas commenter si vous n'etes pas connecte</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>

        {% endif %}
    </section>

{% endblock %}