<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="{{path('home')}}">Blog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarColor01">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="{{path('blog')}}">Articles</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('blog_create')}}">Créer un article</a>
                        </li>
              

                        {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login')}}">Connexion</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_registration')}}">Inscription</a>
                          </li>

                        {% else %}

                          <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout')}}">Déconnexion</a>
                          </li>

                        {% endif %}
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
                  <div class="container">

                        {% block body %}{% endblock %}
                  </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
